#head-division
{
    background-color:rgb(25,57,71);
     color : white;
     text-align:left;
     
}
header{
    padding:30px;
}
#main-division
{
  border: 1px solid lightgray;
  width : 700px;
  height : 100%;
  margin : auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textbox
{
    
 width :95%;
}
.label-Down
{
    color:lightgrey;
    display: inline;
}
.text-box-fullname 
{
    
    margin-top: -10px;
    box-sizing: border-box;
    display:inline;

}
#first-Name
{
  width:45%;
}
#last_Name
{
  width:45%;
  margin-left:30px;
}
#form-division
{
height:100%;
width:100%;
padding:30px;
padding-bottom:20px;
background-color:rgba(249,249,249,.5);
box-sizing:border-box;

}
#quantity_input {
    margin-left:10px;
    width: 10%;
}

#instructionParagraph
{
    width:85%;
}
#last_name {
    color: lightgrey;
    margin-left: 335px;
    margin-top: -20px;
}
#label-state 
{
    color:lightgrey;
    margin-top:-20px;
    margin-left:335px;
}
#label-country {
    color: lightgrey;
    margin-top: -20px;
    margin-left: 335px;
}
#header-paragraph{
    margin-top:-20px;
}


#sign-Line{
    width:100px;
    border-block-end:groove;
    margin-top:0px;
}
#phonenumber-label
{
    margin-top:-20px;
    margin-left:335px;
}
#sign-image
{
    width:70px;
    height:70px;
   
}
#myform label
{
  display:block;
}

.text-box-contact {
    width: 45%;
    margin-top: -10px;
    box-sizing: border-box;
}
.picture-division {
   
    margin-left: 520px;
    margin-top: -80px;
}
#email {
    margin-top: -10px;
}
#email-label
{
margin-top:10px;
}
#company-label
{
    margin-top:10px;
}
#address-label
{
    margin-top:10px;
}
.text-box {
    width: 45%;
    margin-top: -10px;
    box-sizing: border-box;
}
.radio-group
{
    display:inline;
}
input{
    background-color:rgb(249,249,249);
    border:1px solid lightgrey;
    border-radius:5px;
}
#text-between 
{
    margin-top: 20px;
}
#label-Total{
    margin-left : 60px;
}

#total-Count
{
    margin-left:10px;
}
#last-Name
{
 margin-left:40px;
}
#mobileNumber
{
    margin-left:40px;

}
#state_province {
    margin-left: 40px;
}
#country {
    margin-left: 40px;
}
.radio-label
{
margin-left:5px;
margin-top:-2px;
}
#friends-colleague
{
    margin-left:20px;
}
#onlineSearch {
    margin-left: 20px;
}
#online-Search{
    margin-left:10px;
}
#radio-division {
    display: flex;
    justify-content: start
}
.quantity-label {
    
   display:flex;
   
}
.submit_input {
    margin-top: 30px;
}
.text-Box{
    width : 96%;
}
#error_message {
    display:inline;
    margin-left:340px;
}
.error_message_division
{   display:none;
    position:fixed;
    width: 200px;
    height : 200px;
}
#info-Error{
    display:inline;
    margin-left:380px;

}
