
body{
    background-color:aliceblue;
}


h1 {
    text-align: center;
}

.container {
    margin: 100px;
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(260,230,230,.8)
}

.form-input label {
    display: block;
    font-size:30px;
    text-align: start;
}

.form-input input {
    width: 60%;
    padding: 5px;
    text-align: center;
    margin-left: 20px;
}

.form-input button {
    margin-top: 10px;
}

form {
    margin: auto;
}

#answer_division {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 40px auto;
    border: 1px solid black;
    background-color: aliceblue;
}

#submit {
    margin-top: 20px;
}
